<div id="banner">
  <div id="banner_content">
    <div id="sub_banner">
      <%=image_tag "logo_img.png", :id => "logo"%>
        <h1 id="intro" >11 Years Of Exellence In Microfinance Service</h1>
          <p id="intro_text">Women Support Cooperative Ltd. (WSC) was established by 28 professional women promoters on December 20, 1999 under the "Cooperative Act, 1992", Government of Nepal. The main objectives of WSC is to empowerment rural as well as urban poor and deprived women providing financial supports through Micro Finance Program of its service areas of Kathmandu District.
          </p>
        <%= image_tag "logo.png", :id=>"title_img"%>
        <span id="read_more">READ MORE ABOUT US</span>
      </div> <!-- end of intro -->

  </div> <!-- end of sub_banner -->
 </div>
 <div id="wrapper">
      <div id="m_content">
             <div id="content">
                   <div id="image">
                          <%= image_tag "DSC_0801 - Copy.JPG"%>
                   </div>
                   <p>Women Support Cooperative Ltd. (WSC) was
                     established by 28 professional women promoters on
                      December 20, 1999 under the "Cooperative Act, 1992", Government of
                      Nepal.</p>
                    <div class="read">
                            <a><%= link_to "READ MORE","" %></a>
                    </div>
             </div>
             <div id="gallery">
                   <ul class="slideshow">
	                    <li class="show"><a href="http://www.google.com"><img src="assets/image1.JPG" width="600" height="300" title="Slide 1" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor."/></a></li>
	                    <li><a href="http://www.yahoo.com"><img src="assets/image2.jpg" width="600" height="300" title="Slide 2" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor."/></a></li>
                    	<li><a href="http://www.msn.com"><img src="assets/image3.JPG" width="600" height="300" title="Slide 3" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor."/></a></li>
                  </ul>
             </div>
       </div>
       <div id="sub_content">
              <div class="sub_main">
                    <h2 class="text">News & Events</h2>
                  <div id="news">
                         <p class="sub_news"> established by 28 professional women promoters on
                             December 20, 1999 under the "Cooperative Act, 1992", Government of</p>
                         <p class="sub_news"> established by 28 professional women promoters on
                             December 20, 1999 under the "Cooperative Act, 1992", Government of</p>
                         <p class="sub_news"> established by 28 professional women promoters on
                             December 20, 1999 under the "Cooperative Act, 1992", Government of</p>
                         <span>1 of 5 >></span>
                  </div>
               </div>
               <div class="sub_main">
                       <h2 class="text">Activities</h2>
                     <div id="news">
                           <div class="news_a">
                             <%= image_tag "DSC02702.JPG",:class=>"act"%>
                                 <div class="b">
                                           <p> established by 28 professional women promoters on
                                   </p>
                                      <div id="d"><a><%= link_to "READ MORE","" %> </a></div>
                                   </div>
                                   </div>
                             <%= image_tag "DSC02702.JPG",:class=>"act"%>
                                    <div class="a">
                             <div class="b">
                          <p> established by 28 professional women promoters on
                                  </p>
                                <div id="d"><a><%= link_to "READ MORE","" %> </a></div>
                           </div></div>

                          <span>1 of 5 >></span>
                     </div>
                </div>
              <div class="sub_main">
                       <h2 class="text">Branch</h2>
                    <div id="news">
                          <%= image_tag "map.jpg",:class=>"map"%>
                               <p class="branch">  Balaju Chowk,Kathmandu</br>
                                               01-6617807</br>
                                       wscl2056@gmail.com</p>

                     </div>
             </div>
   </div>
