<div id="banner">

  <div id="banner_content">


        <h1 id="intro" >11 Years Of Exellence In Microfinance Service</h1>
      <div id="sub_banner_content">
          <p id="intro_text">Women Support Cooperative Ltd. (WSC) was established by 28 professional women promoters on December 20, 1999 under the "Cooperative Act, 1992", Government of Nepal. The main objectives of WSC is to empowerment rural as well as urban poor and deprived women providing financial supports through Micro Finance Program of its service areas of Kathmandu District.
          </p>
                <div id="sub_banner_image_title">
                <%= image_tag "logo.png", :id=>"title_img"%>
                <span id="read_more">READ MORE ABOUT US</span>
        </div> <!---end of sub_banner_image_title -->

        </div><!---end of sub_banner_content -->

  </div> <!-- end of banner_content -->
 </div>
<div id="wrapper">
      <div id="m_content">
             <div id="content">
                   <div id="image">
                          <%= image_tag "DSC_0801 - Copy.JPG"%>
                   </div>
                   <p>Women Support Cooperative Ltd. (WSC) was
                     established by 28 professional women promoters on
                      December 20, 1999 under the "Cooperative Act, 1992", Government of
                      Nepal.</p>
                    <div class="read">
                            <a><%= link_to "READ MORE","" %></a>
                    </div>
             </div>
             <div id="gallery">
                   <ul class="slideshow">
	                    <li class="show"><a href="http://www.google.com"><img src="assets/1.jpg" width="600" height="300"  alt="dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor."/></a><p class="slideshow_read">Read More...</p></li>
	                    <li><a href="http://www.yahoo.com"><img src="assets/2.jpg" width="600" height="300" alt=" Dr. Pushpa(President) speaking in WSC 11th Annual generai assembly."/></a></li>
                    	<li><a href="http://www.msn.com"><img src="assets/3.jpg" width="600" height="300"  alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor."/></a></li>
                    	<li><a href="http://www.msn.com"><img src="assets/4.jpg" width="600" height="300"  alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor."/></a></li>
                    	<li><a href="http://www.msn.com"><img src="assets/5.jpg" width="600" height="300"  alt="Dr. Pushpa (President) speaking in WSC 11th Annual generai assembly."/></a></li>
                    	<li><a href="http://www.msn.com"><img src="assets/6.jpg" width="600" height="300"  alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor."/></a></li>
                  </ul>
             </div>
       </div>
       <div id="sub_content">
              <div class="sub_main">
                    <a href="#"><h2 class="text">News & Events</h2></a>
                  <div class="news">

                    <% @news_and_events.each do|news_and_event| %>
                       <div class="news_and_events_text">
                          <%= image_tag "#{news_and_event.image_path}", :class=>"activities_img";%>
                          <p><%= news_and_event.headline%>
                          <%= link_to "Read more","#", :class=>"activities_read" %>
                         </p>
                    </div>
                     <%end%>


                  </div><!--end of news-->
                  <%= paginate @news_and_events %>
               </div><!--end of sub_main-->
               <div class="sub_main_activities">
                       <a href="#"><h2 class="text">Activities</h2></a>
                     <div id="activities" class="news">
                        <div id="activities_block">
                          <%= render @activities%>
                        </div>
                     <div id="paginator">
                      <%= paginate @activities, :remote=>true %>
                     </div>
                  </div> <!--end of news-->
                 </div><!--end of sub_main_activities-->





              <div class="sub_main_activities">
                      <a href="#"><h2 class="text">Branch</h2></a>
                    <div class="news">
                          <%= image_tag "map.jpg",:class=>"map"%>
                               <p class="branch">  Balaju Chowk,Kathmandu</br>
                                               +977-1-4387031,+977-1-4388887</br>
                                       wscl2056@gmail.com</p>

                     </div><!--end of news-->
             </div><!--end of sub_main_activities-->

   </div><!--end of news-->
