<%= render :partial => 'banner'%>
<div id="main_wrapper">
<div id="wrapper">
      <div id="m_content">
             <div id="content">
                   <div id="image">
                          <%= image_tag "DSC_0801 - Copy.JPG"%>
                   </div>
                   <p>Women Support Cooperative Ltd. (WSC) was
                     established by 28 professional women promoters on
                      December 20, 1999 under the "Cooperative Act, 1992", Government of
                      Nepal.</p>

                          <a  href="/pages/chair_person.html"  class="read_more_big" ><span>READ MORE</span></a>

             </div>
             <div id="gallery">
             <div id="slider">
                  <div id="mask-gallery">
  	                <ul id="gallery1">
  	                 <% @banners.each do|banner| %>
	   	                      <li><%= image_tag "#{banner.image_path}", :width=>"610",:height=>"auto"%></li>
	                    <%end%>
			              </ul>
	                </div>

	                <div id="mask-excerpt">
	                  <ul id="excerpt">
	                    <% @banners.each do|banner| %>
	   	                      <li><%= "#{banner.caption}" %></a></li>
	                    <%end%>
		                </ul>
	                </div>
              </div>

                <a href="#" id="btn-prev"></a>
	              <a href="#" id="btn-next"></a>
             </div>
          </div>
       <div id="sub_content">
              <div class="sub_main_activities">
              <div  class="text">
                <h2>News & Events</h2>
                </div>
                <div id="news_and_events" class="news">
                  <div id="news_and_events_block">
                    <%= render @news_and_events%>
                  </div>
                  <div id="paginator_news">
                    <%= paginate @news_and_events, :remote => true, :params => {:controller => :main, :action => :news_paginator} %>
                  </div>
                </div><!--end of news-->
              </div><!--end of sub_main-->

              <div class="sub_main_activities">
               <div  class="text">
                <h2>Activities</h2>
                </div>
                <div id="activities" class="news">
                  <div id="activities_block">
                    <%= render @activities%>
                  </div>
                  <div id="paginator_activities">
                    <%= paginate @activities, :remote=>true, :params => {:controller => :main, :action => :activities_paginator} %>
                  </div>
                </div> <!--end of id activities-->
              </div><!--end of sub_main_activities-->

              <div class="sub_main_activities" style="margin:0 0 0 0;">
               <div  class="text">
                <h2>Branch</h2>
                </div>
                <div id="basic-modal-content">
			            <div id="map_canvas" style="width:960px; height:500px"></div>
		            </div>
                <div id="" class="news">
                  <div id='basic-modal'>
			<input type='button' name='basic' value='google_map' class='basic'/>
		</div>

                  <p class="branch">  Balaju Chowk,Kathmandu</br>
                                  +977-1-4387031,+977-1-4388887</br>
                                     wscl2056@gmail.com</p>
                </div><!--end of news-->
            </div><!--end of sub_main_activities-->
   </div><!--end of sub_content-->
   </div>

   <%= render :partial => 'footer'%>
   </div>
