<div id="main_wrapper">

<div id="wrapper_10">
  <div class="main_content">
    <a href="/"><%=image_tag "logo_img.png", :id => "logo",:alt=>"logo",:title=>"Home",:style=>"display: block;
    float: left;
    height: 192px;
    margin: 0 20px 0 0;
    width: 204px";%></a>
    <div class="form_content">
      <div class="form_title">
     <span>Personal Details</span>
    </div>
    <div class="form_text">
        <form>
           <p><label for="name"> Full Name:</label>
               <input type="text" id="name" /></P>
           <p><label for="name">Father's Name:</label>
                 <input type="text" id="name" /></P>
           <p><label for="date">Date of Birth:</label>
           <select name="day">
                    <option value="1">1 </option>
                    <option value="2">2</option>
                    <option value="3">3 </option>
                    <option value="4">4 </option>
                    <option value="5">5 </option>
                    <option value="6">6 </option>
                    <option value="7">7 </option>
                    <option value="8">8 </option>
                    <option value="9">9 </option>
                    <option value="10">10 </option>
                    <option value="11">11 </option>
                    <option value="12">12 </option>
                    <option value="13">13 </option>
                      <option value="14">14 </option>
                    <option value="15">15 </option>
                    <option value="16">16 </option>
                    <option value="17">17 </option>
                    <option value="18">18 </option>
                    <option value="19">19 </option>
                    <option value="20">20 </option>
                    <option value="21">21 </option>
                    <option value="22">22 </option>
                    <option value="23">23 </option>
                    <option value="24">24 </option>
                    <option value="25">25 </option>
                    <option value="26">26 </option>
                    <option value="27">27 </option>
                    <option value="28">28 </option>
                    <option value="29">29 </option>
                    <option value="30">30 </option>
                    <option value="31">31 </option>
                    <option value="32">32 </option>
            </select>
            <select name="month">
                        <option value="1">January </option>
                        <option value="2">February </option>
                        <option value="3">March </option>
                        <option value="4">April </option>
                        <option value="5">May </option>
                        <option value="6">June </option>
                        <option value="7">July </option>
                        <option value="8">August </option>
                        <option value="9">September </option>
                        <option value="10">October </option>
                        <option value="11">November </option>
                        <option value="12">December </option>
                  </select>

               <select >
                    <%= render :partial => 'date'%>
               </select></p>
                    <p><label for="citizen">Nationality:</label><input type="text" id="citizen" /></P>
                    <p><label for="citizenship">Citizenship No:</label>
                    <input id="number" type="text" name="number"></p>
                       <p><label for="address">Permanent Address:</label><input type="text" id="address" /></P>
                       <p><label for="address">Temporary Address:</label><input type="text" id="address" /></P>
                    <p><label for="telephone">Telephone Number:</label>
                    <input id="number" type="text" name="number"></p>
                    <p><label for="mobile">Mobile Number:</label>
                    <input id="number" type="text" name="number"></p>
                    <p><label for="marital">Marital Status:</label>
                                <select name="marital">
                                <option>Single</option>
                                <option>Married</option>
                                </select></p>
                          <p><label for="religion">Religion:</label><input type="text" id="religion" /></P>
                              <label for="upload">Upload File:</label>
                              <input type="file" size="38" name="UploadFile">
                              </p>

<!--   education form  -->
 <div id="education" style="width:960px;margin:0 auto;">
      <div class="form_title">
   <span>Education Details</span>
      </div>
    <div class="form_text">

                             <table cellspacing="5" cellpadding="5" border="0" >
                  <tbody>
                  <tr>
                  <td colspan="6"></td>
                  </tr>
                  <tr>
                  <td>
                  <strong>Degree</strong>
                  </td>
                  <td>
                  <strong>Name of the Degree</strong>
                  </td>
                  <td>
                  <strong>Graduation Year</strong>
                  </td>
                  <td>
                  <strong>College/ School</strong>
                  </td>
                  <td>
                  <strong>Board/ University</strong>
                  </td>
                  <td>
                  <strong>Percentage</strong>
                  </td>
                  </tr>
                  <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  </tr>
                  <tr>
                  <td height="25">
                  <label style="cursor: pointer;" for="phd">
                  <input id="phd" type="checkbox" style="width:20px" onclick="activateDeactivateEdu('phd');" value="phd" name="phd">
                  Ph. D.
                  </label>
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td align="center" nowrap="">
                  <select >
                   <%= render :partial => 'date'%>
                  </select>
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <tr>
                  <td height="25">
                  <label style="cursor: pointer;" for="master">
                  <input id="master" type="checkbox" style="width:20px" onclick="activateDeactivateEdu('master');" value="master" name="master">
                  Master's
                  </label>
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td align="center" nowrap="">
                  <select >
                     <%= render :partial => 'date'%>
                  </select>
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <tr>
                  <td height="25">
                  <label style="cursor: pointer;" for="bachelor">
                  <input id="bachelor" type="checkbox" style="width:20px" onclick="activateDeactivateEdu('bachelor');" value="bachelor" name="bachelor">
                  Bachelor's
                  </label>
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td align="center" nowrap="">
                  <select >
                   <%= render :partial => 'date'%>
                  </select>
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <tr>
                  <td height="25">
                  <label style="cursor: pointer;" for="intermediate">
                  <input id="intermediate" type="checkbox" style="width:20px" onclick="activateDeactivateEdu('intermediate');" value="intermediate" name="intermediate">
                  Intermediate
                  </label>
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td align="center" nowrap="">
                  <select >
                   <%= render :partial => 'date'%>
                  </select>
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <tr>
                  <td height="25">
                  <label style="cursor: pointer;" for="slc">
                  <input id="slc" type="checkbox" style="width:20px" onclick="activateDeactivateEdu('slc');" value="slc" name="slc">
                  S.L.C.
                  </label>
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td align="center" nowrap="">
                  <select >
                   <%= render :partial => 'date'%>
                  </select>
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <tr>
                  <td height="25">
                  <label style="cursor: pointer;" for="other">
                  <input id="other" type="checkbox" style="width:20px" onclick="activateDeactivateEdu('other');" value="other" name="other">
                  Other
                  </label>
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td align="center" nowrap="">
                  <select >
                   <%= render :partial => 'date'%>
                  </select>
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  <td height="24">
                  <input type="text" size="15" name="yr1">
                  </td>
                  </tbody>
                  </table>
</div>

</div>
<!--training-->
<div id="work" style="width:960px;margin:0 auto;">
      <div class="form_title">
     <span>Working Experience</span>
    </div>
    <div class="form_text">
        <table>
            <tbody>
               <tr>
                 <td>
                    <div align="center">
                       <font size="3">Year Start</font>
                    </div>
                 </td>
                 <td>
                    <div align="center">
                       <font size="3">Year End</font>
                    </div>
                 </td>
                 <td>
                    <div align="center">
                       <font size="3">Company Name </font>
                    </div>
                 </td>
                 <td>
                    <div align="center">
                       <font size="3">Position</font>
                    </div>
                 </td>
                 <td>
                    <div align="center">
                      <font size="3">Salary</font>
                    </div>
                 </td>
              </tr>
                 <tr>
          <td>
            <select >
 <%= render :partial => 'date'%>
</select>
         </td>
         <td>
            <select >
 <%= render :partial => 'date'%>
</select>
         </td>
         <td>
              <input type="text" size="50" name="cn1">
        </td>
        <td>
             <input type="text" name="p1">
        </td>
         <td>
            <input type="text" name="s1">
         </td>
         </tr>
         <tr>
           <td>
               <select >
 <%= render :partial => 'date'%>
</select>
                      </td>
                 <td>
             <select >
 <%= render :partial => 'date'%>
</select>
</td>
<td>
<input type="text" size="50" name="cn2">
</td>
<td>
<input type="text" name="p2">
</td>
<td>
<input type="text" name="s2">
</td>
</tr>
<tr>
<td height="24">
<select >
 <%= render :partial => 'date'%>
</select>
</td>
<td>
<select >
 <%= render :partial => 'date'%>
</select>
</td>
<td>
<input type="text" size="50" name="cn3">
</td>
<td>
<input type="text" name="p3">
</td>
<td>
<input type="text" name="s3">
</td>
</tr>
<tr>
<td>
<select >
 <%= render :partial => 'date'%>
</select>
</td>
<td>
<select >
 <%= render :partial => 'date'%>
</select>
</td>
<td>
<input type="text" size="50" name="cn4">
</td>
<td>
<input type="text" name="p4">
</td>
<td>
<input type="text" name="s4">
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</div>
</div>
<!--training-->
<div id="reference" style="width:960px;margin:0 auto;">
      <div class="form_title">
     <span>References</span>
    </div>
    <div class="form_text">
     <table cellspacing="5" cellpadding="5" border="0" width="100%">
<tr>
<p>
<label for="name"> Full Name:</label>

<input id="name" type="text">
</p>
<td colspan="4">
<span id="span_err_refname1" class="errormessage"></span>
</td>
</tr>
<p>
<label for="address">Address:</label>
<input id="refcity1"  type="text" value="" name="refcity1">

</p>
<p>
<label for="home">Home Phone:</label>
<input id="refhomephone1"  type="text" value=""name="refhomephone1">
</p>
<p>
<label for="office">Office Phone:</label></p>
<input id="refofficephone1"  type="text" value="" name="refofficephone1">
</p>
<p>
<label for="mobile">Mobile:</label>
<input id="refmobile1" type="text" value="" name="refmobile1">
</p>
<p>
<label for="fax">Fax:</label>
<input id="reffax1"  type="text" value="" name="reffax1">
</p>
<p>
<label for="email">Email:</label>
<input id="refemail1" type="text" value="" name="refemail1">
</p>
<p>
<label for="company">Company Name:</label>
<input id="refcompanyname1" type="text" value="" name="refcompanyname1">
</p>
<p>
<label for="company">Company Location:</label>
<input id="refcompanylocation1" type="text" value="" name="refcompanylocation1">
</p>
<p>
<label for="designation">Designation:</label>
<input id="refdesignation1" type="text" value="" name="refdesignation1">
</p>
<p>
<label for="relationship">Relationship:</label>
<input id="refrelationship1" type="text" value="" name="refrelationship1">
</tbody>
</table>
</div>
</div>
<div id="submit" style="width:960px;margin:0 auto;">
      <div class="form_text">
      <input type="submit" value="Submit" name="Submit">
      <input type="reset" value="Reset!">
 </div>
 </div>
     </form>
  </div>
</div>


</div>
</div>
<%= render :partial => 'footer'%>
 </div>
