<div id="main_wrapper">
   <div id="wrapper_8">
     <div class="main_content">
        <a href="/"><%=image_tag "logo_img.png", :id => "logo",:alt=>"logo",:title=>"Home",:style=>"display: block;
    float: left;
    height: 192px;
    margin: 0 20px 0 0;
    width: 204px";%></a>
       <div class="intro_content">
         <div class="objective_title">
            <span>Organizational structure</span>
         </div>
         <div class="content_text">
            <h1>General Assembly</h1>
            <p style="color:#fff;font-family:'arial',serif;">
                The General Assembly is the supreme body of the oragnization. Election of Board representatives, policy determination, appointment of external auditor and approval of financial statement and budget are the main activities of general assembly.
           </p>
           <h1 style="padding:30px 0 0 0;">Board Of Directors</h1>
                   <p style="color:#fff;font-family:'arial',serif;padding:20px 0 0 0;">
                       Board of Directors consist of seven members. The Board formulates policies, rules and regulations of the organization. The Executive Chairperson and other office bearers are elected from among the Board members. Its terms is of three years.</b>
          <p>            WSC's management is headed by Executive Chairperson. Executive chairperson and office staff team carry out its activities and day-to-day operations.</p>
                    </p>
            </div>
      </div><!--end of intro_content -->
  </div>
 </div>

  <div id="wrapper_9">
    <div class="main_content">

      <div class="profile_content" style="float:left;width:960px;margin:0 auto;">
        <div class="profile_title">

         <span>Board Members</span>

        </div>	<!--end of profile_title-->
        <div class="profile">
            <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "puspa.JPG",:title=>"Dr. Puspa Shresta"%>
              </div>	<!--end of profile_img-->
              <div class="profile_text">

                    <label class="name">Name:</label><span> Prof. Dr. Pushpa shrestha</span></br>
                    <label class="name">Designation:</label><span>Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in Economics</span></br>
                    <label class="name">Experience:</label><span>Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
               </div>			<!--end of profile_text-->
                </div>		<!--end of profile_cont-->


             <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "Anandashova.JPG",:title=>"Dr. Ananda Shova Tamrakar"%>
              </div>		<!--end of profile_img-->

              <div class="profile_text">

                    <label class="name">Name:</label><span>Prof. Dr. Ananda Shova Tamrakar</span></br>
                    <label class="name">Designation:</label><span>Vice Chairperson</span></br>
                    <label class="name">Qualification:</label><span>PHD in zoology</span></br>

                    <label class="name">Experience:</label><span>Professor ,Vermcomposting, Pollution control, Researcher, Trainer .

                            </span></br>

               </div>			<!--end of profile_text-->
             </div>			<!--end of profile_cont-->
           <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "menkakumari.JPG",:title=>"Menaka Kumari Rajbhandari"%>
              </div>		<!--end of profile_img-->
              <div class="profile_text">

                   <label class="name">Name:</label><span>Menaka Kumari Rajbhandari</span></br>
                   <label class="name">Designation:</label><span>Secretary</span></br>
                   <label class="name">Qualification:</label><span>Master in Management & Bachelor in Law</span></br>
                   <label class="name">Experience:</label><span>Associate Professor , Researcher, Trainer .

                            </span></br>

               </div>			<!--end of profile_text-->
             </div>			<!--end of profile_cont-->
             <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "shatya.JPG",:title=>"Satya Malla"%>
              </div>		<!--end of profile_img-->

              <div class="profile_text">
                   <label class="name">Name:</label><span>Satya Malla</span></br>
                   <label class="name">Designation:</label><span>Treasurer</span></br>
                   <label class="name">Qualification:</label><span>Master in Home science & Bachelor in Education</span></br>
                   <label class="name">Experience:</label><span>Gender Specialist & Trainer .
                            </span></br>

               </div>				<!--end of profile_text-->
             </div>				<!--end of profile_cont-->
             <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "Jaleshwori.JPG",:title=>"Jaleswori Shrestha"%>
              </div>			<!--end of profile_img-->

              <div class="profile_text">
                    <label class="name">Name:</label><span>Jaleswori Shrestha</span></br>
                    <label class="name"> Designation:</label><span>Member</span></br>
                    <label class="name"> Qualification:</label><span>Bachelor in Economics</span></br>
                    <label class="name"> Experience:</label><span>Writer & Social Worker .
                            </span></br>

               </div>				<!--end of profile_text-->
             </div>				<!--end of profile_cont-->
             <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "prami.JPG",:title=>"Prami Shrestha"%>
              </div>				<!--end of profile_img-->
              <div class="profile_text">
                   <label class="name">Name:</label><span>Prami Shrestha</span></br>
                   <label class="name">Designation:</label><span>Member</span></br>
                   <label class="name">Qualification:</label><span> Master in Sociology</span></br>
                   <label class="name">Experience:</label><span>Sociologist, German Tour guide & photography.
                             </span></br>

               </div>				<!--end of profile_text-->
             </div>				<!--end of profile_cont-->
             <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "Nilina.jpg",:title=>"Nilina  Shrestha"%>
              </div>				<!--end of profile_img-->
              <div class="profile_text">

                    <label class="name">Name:</label><span>Nilina Shrestha</span></br>
                    <label class="name">Designation:</label><span>Member</span></br>
                    <label class="name"> Qualification:</label><span>Bachelor in Economics.</span></br>
                    <label class="name">Experience:</label><span>Social Worker.

                     </span></br>

               </div>			<!--end of profile_text-->
             </div>			<!--end of profile_cont-->
      </div>			<!--end of profile-->
   </div>				<!--end of profile_content-->
  </div>			<!--end of main_content-->
</div><!--end of wrapper_9-->
<%= render :partial => 'footer'%>
</div><!--end of main_wrapper-->
