
 <div id="wrapper">
   <div id="objectives">
     <article>
         <h1>Board Members</h1>
                 <div id="board_member">
                        <a href="#"><%= image_tag "puspa.JPG",:class=>"bod_1" %></a>
                      <div id="sub_board_member">
                        <%= image_tag "Anandashova.JPG",:class=>"bod_3"%>
				                <%= image_tag "menkakumari.JPG",:class=>"bod_3" %>
				                 <%= image_tag "shatya.JPG",:class=>"bod_3" %>
                           <%= image_tag "prami.JPG",:class=>"bod_3" %>
				                   <%= image_tag "Nilina.jpg",:class=>"bod_3" %>
				                   <%= image_tag "Jaleshwori.JPG",:class=>"bod_3"%>
                  </div>
                  </div>

				<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
					been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
					galley of type and scrambled it to make a type specimen book. It has survived not only five
					centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
					It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
					versions of Lorem Ipsum.
				</p>


					<h2>General Assembly</h2>
						<p>	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							has been the industry's standard dummy text ever since the 1500s, when an unknown printer
							took a galley of type and scrambled it to make a type specimen book. It has survived not
							only five centuries, but also the leap into electronic typesetting, remaining essentially
							unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
							including versions of Lorem Ipsum.

						</p>

		<h1>Our Organization Chart</h1>
 <a><%= image_tag "orgn.png" %></a>

 </article>
 </div>
 </div>
