<div id="main_wrapper">
   <div id="wrapper_8">
     <div class="main_content">
        <a href="/"><%=image_tag "logo_img.png", :id => "logo",:alt=>"logo",:title=>"Home",:style=>"display: block;
                                                                                                  float: left;
                                                                                                  height: 194px;
                                                                                                  margin: 0 20px 0 0;
                                                                                                  width: 172px";%>
       </a>
       <div class="intro_content">
         <div class="objective_title">
            <a href="#wrapper_2"><span>Orgational structure</span></a>
         </div>
         <div class="content_text">
            <h1>General Assembly</h1>
            <p style="color:#fff;font-family:'arial',serif;">
                The General Assembly is the supreme body of the oragnization.Election of Board representatives,policy determination,appointment of external auditor and approval of financial statement and budget are the main activities of general assembly.
           </p>
           <h1 style="padding:30px 0 0 0;">Board Of Directors</h1>
                   <p style="color:#fff;font-family:'arial',serif;padding:20px 0 0 0;">
                       Board of Directors consist of seven members.The board formulates policies,rules and regulations of the organization.The Executive Chairperson and other office bearers are elected from among the Board members.Its terms is of three yaers.</b>
          <p>            WSC's management is headed by Executive Chairperson.Executive chairperson and office staff team carry out its activities and day-to-day operations.</p>
                    </p>
            </div>
      </div><!--end of intro_content -->
  </div>
 </div>

  <div id="wrapper_9">
    <div class="main_content">

      <div class="profile_content" style="float:left;width:960px;margin:0 auto;">
        <div class="profile_title">
           <a href="#wrapper_9"><span>Board Members</span></a>
        </div>
        <div class="profile">
            <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "puspa.JPG",:title=>"Dr. Puspa Shresta"%>
              </div>
              <div class="profile_text">
                     <p>Name:<span> Dr. Pushpa shrestha</span></br>
                             Designation:<span>Chairperson</span></br>
                              Qualification:<span>PHD in Economics</span></br>
                             Experience:<span>Professor Economists, Gender Specialist,
                             Social Inclusive, Demographist.</span></br>
                  <p>
               </div>
             </div>
             <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "Anandashova.JPG",:title=>"Dr. Ananda Shova Tamrakar"%>
              </div>
              <div class="profile_text">
                     <p>Name:<span>Dr. Ananda Shova Tamrakar</span></br>
                             Designation:<span>Vice Chairperson</span></br>
                              Qualification:<span>PHD in Geology</span></br>
                             Experience:<span>Professor ,Vermin composting, Pollution control, Researcher, Trainer .
                            </span></br>
                  <p>
               </div>
             </div>
           <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "menkakumari.JPG",:title=>"Menaka Kumari Rajbhandari"%>
              </div>
              <div class="profile_text">
                     <p>Name:<span>Menaka Kumari Rajbhandari</span></br>
                             Designation:<span>Secretary</span></br>
                              Qualification:<span>Master in Management & Bachelor in Law</span></br>
                             Experience:<span>Assistance Professor , Researcher, Trainer .
                            </span></br>
                  <p>
               </div>
             </div>
             <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "shatya.JPG",:title=>"Satya Malla"%>
              </div>
              <div class="profile_text">
                     <p>Name:<span>Satya Malla</span></br>
                             Designation:<span>Treasurer</span></br>
                              Qualification:<span>Master in Home science & Bachelor in Education</span></br>
                             Experience:<span>Gender Specialist & Trainer .
                            </span></br>
                  <p>
               </div>
             </div>
             <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "Jaleshwori.JPG",:title=>"Jaleswori Shrestha"%>
              </div>
              <div class="profile_text">
                     <p>Name:<span>Jaleswori Shrestha</span></br>
                             Designation:<span>Member</span></br>
                              Qualification:<span>Bachelor in Economics</span></br>
                             Experience:<span>Writer & Socialist .
                            </span></br>
                  <p>
               </div>
             </div>
             <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "prami.JPG",:title=>"Prami Shrestha"%>
              </div>
              <div class="profile_text">
                     <p>Name:<span>Prami Shrestha</span></br>
                             Designation:<span>Member</span></br>
                              Qualification:<span> Master in Sociology</span></br>
                             Experience:<span>Sociologist, German Tour guide & photography.
                             </span></br>
                  <p>
               </div>
             </div>
             <div class="profile_cont">
              <div class="profile_img">
                <%= image_tag "Nilina.jpg",:title=>"Nilina  Shrestha"%>
              </div>
              <div class="profile_text">
                     <p>Name:<span> Dr. Pushpa shrestha</span></br>
                             Designation:<span>Member</span></br>
                              Qualification:<span>Bachelor in Economics.</span></br>
                             Experience:<span>Socialist.
                     </span></br>
                  <p>
               </div>
             </div>
      </div>
   </div>
  </div>
</div><!--end of wrapper_9-->
<%= render :partial => 'footer'%>
</div><!--end of main_wrapper-->
