
 <div id="wrapper">
     <div id="slider">
  <ul class="navigation">
    <li><a href="#sites">Orgational structure</a></li>
    <li><a href="#files">Board Members</a></li>
    <li><a href="#editor">Organization chart</a></li>

  </ul>

  <!-- element with overflow applied -->
  <div class="scroll">
    <!-- the element that will be scrolled during the effect -->
    <div class="scrollContainer">
      <!-- our individual panels -->
      <div class="panel" id="sites">

                      <h3>General Assembly</h3>
                            <p>The general assembly is the supreme body of the organization. Election of Board representatives
                                , policy  determination, appointments of external auditor aand approval of financial statement and budget are the main activities of general assembly.</p>
                      <h3>Board of Directores: </h3>
                            <p>Board of Directirs consist of seven members. The board formulates policies, rules
                                and regulations of the organization. The executive Chairperson and the other office bearers are elected from among the Board Members whose work span is of three years on chair. WSC's management is headed by executive chairperson and office staff team carry out its activities and day-to-day operations. To provide easy and effective services there are five contact offices under head-office under local level.<p/>         </div>



      <div class="panel" id="files"> <h3>Board Members</h3>
              <a href="#"><%= image_tag "puspa.JPG",:class=>"bod_1",:title=>"Dr. Puspa Shresta (CEO)" %></a>
                      <div id="sub_board_member">
                        <%= image_tag "Anandashova.JPG",:class=>"bod_3"%>
				                <%= image_tag "menkakumari.JPG",:class=>"bod_3" %>
				                 <%= image_tag "shatya.JPG",:class=>"bod_3" %>
                           <%= image_tag "prami.JPG",:class=>"bod_3" %>
				                   <%= image_tag "Nilina.jpg",:class=>"bod_3" %>
				                   <%= image_tag "Jaleshwori.JPG",:class=>"bod_3"%>
				                   </div>


				                   div


     </div>


      <div class="panel" id="editor"><h3>Organization chart</h3>
          <a><%= image_tag "orgn2.png" %></a>
       </div>

    </div>
  </div>
</div>

 </div>
