
 <div id="wrapper">
   <div id="objectives">
     <article>
         <h1>Board Members</h1>
                 <div id="board_member">
                        <a href="#"><%= image_tag "puspa.JPG",:class=>"bod_1" %></a>
                      <div id="sub_board_member">
                        <%= image_tag "Anandashova.JPG",:class=>"bod_3"%>
				                <%= image_tag "menkakumari.JPG",:class=>"bod_3" %>
				                 <%= image_tag "shatya.JPG",:class=>"bod_3" %>
                           <%= image_tag "prami.JPG",:class=>"bod_3" %>
				                   <%= image_tag "Nilina.jpg",:class=>"bod_3" %>
				                   <%= image_tag "Jaleshwori.JPG",:class=>"bod_3"%>
                  </div>
                  </div>

				<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
					been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
					galley of type and scrambled it to make a type specimen book. It has survived not only five
					centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
					It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
					versions of Lorem Ipsum.
				</p>


					<h2>General Assembly</h2>
						<p>	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
							has been the industry's standard dummy text ever since the 1500s, when an unknown printer
							took a galley of type and scrambled it to make a type specimen book. It has survived not
							only five centuries, but also the leap into electronic typesetting, remaining essentially
							unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
							Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
							including versions of Lorem Ipsum.

						</p>

		<h1>Our Organization Chart</h1>
 <a><%= image_tag "orgn.png" %></a>
services page
<div id="sub_m_nav">
                <ul>
                   <li><%= link_to "What Is Microfinance" %></li>
                   <li><%= link_to "Saving Collection" %></li>
                   <li><%= link_to "Loan Disbursement" %></li>

               </ul>
           </div><!--end of sub_m_nav -->
         <div id="objectives" style="height:500px;">





													<p class="column1"><a >Group saving:</a>When women becomes member of the organization they have to deposit
														allocated amount of compulsary saving every fortnight. They can withdraw
														the amount when the member leavs the organization. WSC provides interest
														according to organization rule. Depositor deposit small amount in installmen
														basis, when leave the organization they get large amount. In this way, it
														seems small amount. thus its onto making ocean with drops and drops.
													</p>

													<p class="column1"> <a>pesonal saving:</a>Accordin to members need they can deposit or withdraw their savings at any time
														These types of saving at any time. These types of saving are categorized as
														personal savings. These Organization provides 8.0 percent nterest on this saving
														schemes. personel depositor can withdrae their personal saving whenever they need
														to pay loan installment repayment or other expenses.
													</p>

														<p class="column1"><a>Yojana saving (plan saving):</a>Considering the member future security, WSC has managed this kind of saving called
															 Yojana saving. These type of saving have long term vsion and it is different from other
																saving schemes. This type of product is like a pension saving. In this scheme, member
																members can deposit same amount of money in every center meeting for 10 to 15 years.
															when member reach the maturity of 10 years, they can get one and half amount of their
															deposited money. When deposit period crosses 15 years, the depositor shall get double
															amount of the deposited money. If the depositor wants to call-off before descr
															timeline shall get 5.0 percent interest on their deposit. It is compulsary saving
															schemes but the amount they deposit is volunteer. From the saving they can get contigent
																				loan.
														</p>

														<p class="column1"><a>Upakar kosh:</a>all the penalties, donations, prizes and other funds are kept on this Kosh(fund). This
																kosh is used according to the decision of the center meeting.
														</p>
				</div>
 </article>
 </div>
 </div>
