<!DOCTYPE html>
<html>
<head>
  <title>WomenSupport</title>
  <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Habibi' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

          <nav id="nav">
               <ul id="m_nav">

                   <li><%= link_to "About Us", pages_about_us_path %></li>
                   <li><%= link_to "Services",pages_services_path %></li>
                   <li><%= link_to "Achievements",pages_achievements_path %></li>
                   <li><%=link_to "Our Organization	",pages_Our_organization_path %></li>
               </ul>
               <ul id="sub_nav">
                    <li><%= link_to "Jobs",pages_jobs_path %></li>
                    <li><a><%= link_to "Contact Us",pages_contact_us_path %></a></li>
                </ul>
                <div id="social_network">
                    <span class="social_network_text">Follow Us</span>
                    <a href="#" class="facebook"></a>
                    <a href="#" class="twitter"></a>
                    </div>


           </nav>

<%= yield %>
 <div id="footer">
      <div id="contact">
            <p>Women Support cooperative ltd.</br>
               Balaju Chowk,Kathmandu</br>
                +977-1-4387031,+977-1-4388887</br>
                wscl2056@gmail.com</p>

      </div>
      <div id="back">
       <%= image_tag"back_icon.png", :class=>"back_img"%>
       <span class="back_text">Back To Top</span></div>
      <div id=main_footer>
              <p>copyright:2012 Women Support Co-Operatives Ltd.All Right Reserved</p>
              <span class="owner">powered by:Revol-Tech</span>
      </div></div>
</body>
</html>
