<!DOCTYPE html>
<html>
  <head>
   <title>WomenSupport</title>

<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis:400,700|Abel' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <%= stylesheet_link_tag "application","main","banner", "pages/job", "pages/about_us","pages/services","pages/branch","pages/org","gallery_slider","button_image"%>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id))
                {js=d.createElement   (s);js.id=id;js.src="//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore     (js,fjs);}}(document,"script","twitter-wjs");
       </script>
  </head>

<body onload="initialize()" active =#"red">
     <div id="nav">
        <div id="main_nav">
          <div id="social_network">
             <span class="social_network_text">Follow Us</span>
                <a href="http://www.facebook.com/pages/Women-Support-Co-operative/235774736498159" class="facebook"></a>
                  <a href="https://twitter.com/wsc_nepal" class="twitter" data-show-count="false"></a>
          </div>
          <div id="sub_nav">
                <ul>
                    <!---<li><%= link_to "Jobs",pages_jobs_path, :class => "active_nav" %></li>-->
                    <li><a><%= link_to "Branches",pages_branch_path, :class => "active_nav" %></a></li>
  	              </ul>
          </div>
          <div  id="m_nav">
                 <ul>
                   <li><%= link_to "Home",main_index_path , :class => "active_nav"  %></li>
                    <li><%= link_to "About Us",pages_about_us_path , :class => "active_nav"  %></li>
                    <li><%= link_to "Services",pages_services_path,:class=>"active_nav" %></li>
                    <li><%= link_to "Achievements",pages_achievements_path,:class=>"active_nav" %></li>
                    <li><%=link_to "Our Organization	",pages_Our_organization_path,:class=>"active_nav" %></li>
                 </ul>
           </div>
         </div>
       </div>

<%= yield %>


</body>
</html>
